.carrito {
    .boton_carrito {
        width: 30%;
        height: 45%;
        margin: 3rem 1rem 1rem 1rem;
    }
    .precio_carrito {
        font-size: 1.6rem;
        margin: 3rem 1rem 3rem 1rem;
    }
    
}

.combo {
    margin: 5rem 3rem;
}
.modal_carrito {
    display: none;
    .precio_carrito {
        font-size: 1.6rem;
        margin: 3rem 1rem 3rem 1rem;
        border: solid 2px $secundario;
        border-radius: 2rem;
        width: 10rem;
        padding: 0.5rem;
    }
    .boton_carrito_dark {
        width: 30%;
        height: 45%;
        margin: 1rem 1rem 1rem 1rem;
    }
    .carrito_contenedor {
        display: flex;
        flex-direction: row;
        .combo_en_carrito {
            margin: 1rem 1rem 1rem 1rem;
            border: solid 2px $primario;
            border-radius: 2rem;
            width: 10rem;
            font-size: 1.5rem;
            padding: 0.5rem;

        }
    }
}
