.footer{
    background-color: $primario;
    .footer_logo {
        img {
            width: 23%;
            margin: 1rem 1rem;
        }
        a {
            @include links;
            font-size: 2.5rem;
            margin: 1rem;
            
        }
    }
    .footer_logo_abajo {
        text-align: center;
        a {
            @include links;
            font-size: 2.5rem;
            margin: 1rem;
        }
    }
    .footer_redes {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .footer_redes_svc {
            width: 8%;
            height: 8%;
        }
    }
    .footer_info {
        margin-top: 1rem;
        text-align: center;
        h2 {
            color: $blanco;
            font-size: 1.5rem;
        }
        span {
            color: $secundario;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}
.modo_oscuro{
   border: $blanco;
    .footer_logo {
        a {
            color: $primario;
        }
    }
    .footer_logo_abajo {
        a {
            color: $primario;
        }
    }
    .footer_redes {
        .footer_redes_svc {
            background: $primario;
        }
    }
    .footer_info {
        h2 {
            color: $primario;
        }
    }
}