
.enunciado {
    position: relative;
    img{
    width: 100%;
    height: 100%;
    margin: 2rem 0rem 2rem 0rem;
    }
    h1 {
        font-size: 2.5rem;
        position: absolute;
        top: 10%;
        margin: 0px 20px auto;
        color: $blanco;
    }
    span {
        font-size: 2.5rem;
        background-color: $secundario;
        color: $primario;
        a {
            @include links;
        }
    }
}
.preguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    .preguntas_contenido {
        position: relative;
        span {
            font-size: 2.5rem;
            background-color: $secundario;
            color: $primario;
            position: absolute;
            bottom: 15%;
            left: 7%;
        }
        img {
            width: 100%;
            height: 60%;
            margin-top: 1rem;
            margin-left: 1rem;
        }
    }
}
.nosotros {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 3rem 0rem 3rem 0rem;
    h1 {
        margin: 2rem 1rem 1rem 1rem;
        font-size: 2.5rem;
        span{
            margin: 0.4rem;
        }
    }
    p {
        margin: 1rem 1rem;
        font-size: 1.5rem;
        border-bottom: solid $secundario;
        
    }
    button {
        @include boton;
        margin: 1rem 1rem;
        a {
            @include links;
        }
    }
}