* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.enunciado {
  position: relative;
}

.enunciado img {
  width: 100%;
  height: 100%;
  margin: 2rem 0rem 2rem 0rem;
}

.enunciado h1 {
  font-size: 2.5rem;
  position: absolute;
  top: 10%;
  margin: 0px 20px auto;
  color: #FFFFFF;
}

.enunciado span {
  font-size: 2.5rem;
  background-color: #FDC60F;
  color: #1D1D1B;
}

.enunciado span a {
  text-decoration: none;
  color: #FFFFFF;
}

.preguntas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preguntas .preguntas_contenido {
  position: relative;
}

.preguntas .preguntas_contenido span {
  font-size: 2.5rem;
  background-color: #FDC60F;
  color: #1D1D1B;
  position: absolute;
  bottom: 15%;
  left: 7%;
}

.preguntas .preguntas_contenido img {
  width: 100%;
  height: 60%;
  margin-top: 1rem;
  margin-left: 1rem;
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 3rem 0rem 3rem 0rem;
}

.nosotros h1 {
  margin: 2rem 1rem 1rem 1rem;
  font-size: 2.5rem;
}

.nosotros h1 span {
  margin: 0.4rem;
}

.nosotros p {
  margin: 1rem 1rem;
  font-size: 1.5rem;
  border-bottom: solid #FDC60F;
}

.nosotros button {
  width: 7.2rem;
  height: 5.4rem;
  background-color: #1D1D1B;
  color: #FDC60F;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 85, 152, 0.3);
  box-shadow: 0px 0px 12px 1px rgba(0, 85, 152, 0.3);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: auto;
  margin: 1rem 1rem;
}

.nosotros button a {
  text-decoration: none;
  color: #FFFFFF;
}

.modo_oscuro {
  background-color: #1D1D1B;
  color: #1D1D1B;
}

.modo_oscuro .modal_carrito .precio_carrito {
  background-color: #FFFFFF;
  color: #1D1D1B;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: -0.2rem;
}

.modo_oscuro .modal_carrito .producto_en_carrito {
  background-color: #FFFFFF;
  color: #1D1D1B;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

.modo_oscuro .parrafo_bienvenida {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
  color: #FFFFFF;
}

.modo_oscuro .parrafo_compra {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
  color: #FFFFFF;
}

.modo_oscuro .carrito_contenedor {
  color: #FFFFFF;
}

.modo_oscuro .carrito_contenedor .finalizar {
  width: 20%;
  height: 45%;
}

.modo_oscuro .pagar {
  background-color: #FDC60F;
  color: #FFFFFF;
}

.modo_oscuro .pagar label {
  color: #FFFFFF;
}

.modo_oscuro .pagar .btn {
  background-color: #1D1D1B;
}

.modo_oscuro .container .carrito .search .search_box .boton_buscar {
  background-color: #FFFFFF;
}

.modo_oscuro .container .carrito .search .search_box .boton_buscar .fa {
  color: #FDC60F;
}

.container {
  position: relative;
}

.container .carrito {
  position: relative;
  margin-bottom: 10rem;
  font-weight: bold;
}

.container .carrito .search {
  position: absolute;
  top: 50%;
  left: 30%;
}

.container .carrito .search .search_box {
  position: relative;
}

.container .carrito .search .search_box .search_term {
  width: 400px;
  border: 0;
  height: 60px;
  padding: 0px 35px;
  border-radius: 0.7rem;
  -webkit-box-shadow: 0 0 5px 1px #FDC60F;
          box-shadow: 0 0 5px 1px #FDC60F;
  outline: none;
  color: #FDC60F;
  font-size: 1rem;
  font-weight: bold;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  margin-top: 1.5rem;
}

.container .carrito .search .search_box .boton_buscar {
  position: absolute;
  top: 20%;
  left: 85%;
  background: #1D1D1B;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.container .carrito .search .search_box .boton_buscar .fa {
  position: absolute;
  top: 30%;
  left: 25%;
  -webkit-transform: translate(-60% -40%);
          transform: translate(-60% -40%);
  color: #FDC60F;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.container .producto_en_carrito {
  background-color: #1D1D1B;
  color: #FFFFFF;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1rem;
}

.container .cards_productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .cards_productos .card {
  margin: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  max-height: 300px;
  min-height: 100px;
  -webkit-box-shadow: 0 0 5px 1px #FDC60F;
          box-shadow: 0 0 5px 1px #FDC60F;
}

.container .cards_productos .card .boton_agregar {
  background-color: #1D1D1B;
  color: #FFFFFF;
}

.container .cards_productos .card .boton_agregar:hover {
  color: #FFFFFF;
  background-color: #FDC60F;
}

.container .cards_productos .card img {
  max-width: 50%;
  max-height: 100px;
}

.container .modal_body {
  border-radius: 1.5rem;
}

.container .modal_footer {
  display: none;
}

.parrafo_bienvenida {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
}

.carrito_contenedor .finalizar {
  width: 20%;
  height: 45%;
}

.pagar {
  background-color: #1D1D1B;
  max-width: 360px;
  margin: 4rem auto;
  color: #FFFFFF;
  height: auto;
  padding: 1.5rem;
  padding-top: 3rem;
  border-radius: 0.5rem;
  position: relative;
}

.pagar h2 {
  text-align: center;
  letter-spacing: 0.4rem;
  margin-bottom: 1rem;
}

.pagar label {
  display: block;
  color: #FDC60F;
  margin-bottom: 0.2rem;
  background-color: #1D1D1B;
  letter-spacing: 1px;
  outline: none;
  border: #1D1D1B;
}

.pagar input {
  padding: 0.4rem 0 0.4rem 0.6rem;
  width: 100%;
  text-align: center;
  border: 0.2rem solid #FFFFFF;
  border-radius: 0.5rem;
  letter-spacing: 2px;
  word-wrap: 1px;
  outline: none;
  font-size: 1rem;
  color: #1D1D1B;
}

.pagar .card-grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagar .card-grp .card-item {
  width: 48%;
}

.pagar .btn {
  color: #FFFFFF;
  background-color: #FDC60F;
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.pagar .pagar_logo {
  position: absolute;
  top: -2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba 0, 0, 0, 0.2;
          box-shadow: 0 0 5px rgba 0, 0, 0, 0.2;
  text-align: center;
  line-height: 100px;
}

.pagar .pagar_logo img {
  width: 90%;
  height: 80%;
  border-radius: 50%;
}

.space {
  margin-bottom: 1.3rem;
}

.icon_relative {
  position: relative;
}

.icon_relative .far {
  position: absolute;
  color: #1D1D1B;
  bottom: 14%;
  left: 3%;
}

.icon_relative .fas {
  position: absolute;
  color: #1D1D1B;
  bottom: 14%;
  left: 3%;
}

.tarjeta_pago {
  position: relative;
}

.tarjeta_pago .pagar {
  position: absolute;
  top: 95%;
  right: 35%;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header .navbar {
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 0;
}

.header .navbar .navbar_container {
  background-color: #FFFFFF;
  color: #1D1D1B;
}

.header .navbar .navbar_container .navbar-brand {
  margin-right: -1rem;
  width: 30%;
}

.header .navbar .navbar_container .navbar-brand img {
  max-width: 50%;
  height: 20%;
}

.header .navbar .navbar_container .nav_items {
  font-size: 2rem;
  margin: 1rem 1rem 1rem 2rem;
  border-bottom: solid 0.3rem #FDC60F;
  cursor: pointer;
}

.header .navbar .navbar_container .nav_items .boton_carrito_nav {
  text-decoration: none;
  border: none;
  background-color: #FFFFFF;
}

.header .navbar .navbar_container .nav_items .boton_carrito_nav .badge_carrito {
  height: 30px;
  width: 40%;
  background-color: #FDC60F;
  color: #FFFFFF;
  font-size: 1rem;
}

.footer {
  background-color: #1D1D1B;
}

.footer .footer_logo img {
  width: 23%;
  margin: 1rem 1rem;
}

.footer .footer_logo a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 2.5rem;
  margin: 1rem;
}

.footer .footer_logo_abajo {
  text-align: center;
}

.footer .footer_logo_abajo a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 2.5rem;
  margin: 1rem;
}

.footer .footer_redes {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer_redes .footer_redes_svc {
  width: 8%;
  height: 8%;
}

.footer .footer_info {
  margin-top: 1rem;
  text-align: center;
}

.footer .footer_info h2 {
  color: #FFFFFF;
  font-size: 1.5rem;
}

.footer .footer_info span {
  color: #FDC60F;
  font-size: 1.5rem;
  font-weight: bold;
}

.carrito .boton_carrito {
  width: 30%;
  height: 45%;
  margin: 3rem 1rem 1rem 1rem;
}

.carrito .precio_carrito {
  font-size: 1.6rem;
  margin: 3rem 1rem 3rem 1rem;
}

.combo {
  margin: 5rem 3rem;
}

.modal_carrito {
  display: none;
}

.modal_carrito .precio_carrito {
  font-size: 1.6rem;
  margin: 3rem 1rem 3rem 1rem;
  border: solid 2px #FDC60F;
  border-radius: 2rem;
  width: 10rem;
  padding: 0.5rem;
}

.modal_carrito .boton_carrito_dark {
  width: 30%;
  height: 45%;
  margin: 1rem 1rem 1rem 1rem;
}

.modal_carrito .carrito_contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal_carrito .carrito_contenedor .combo_en_carrito {
  margin: 1rem 1rem 1rem 1rem;
  border: solid 2px #1D1D1B;
  border-radius: 2rem;
  width: 10rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}
/*# sourceMappingURL=estilos.css.map */