*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

@import "variables";
@import "mainindex";
@import "armar";
@import "nav";
@import "footer";
@import "combos";