* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.modo_oscuro {
  background-color: #1D1D1B;
  color: #1D1D1B;
}

.modo_oscuro .modal_carrito .precio_carrito {
  background-color: #FFFFFF;
  color: #1D1D1B;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: -0.2rem;
}

.modo_oscuro .modal_carrito .producto_en_carrito {
  background-color: #FFFFFF;
  color: #1D1D1B;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

.modo_oscuro .parrafo_bienvenida {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
  color: #FFFFFF;
}

.modo_oscuro .parrafo_compra {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
  color: #FFFFFF;
}

.modo_oscuro .carrito_contenedor {
  color: #FFFFFF;
}

.modo_oscuro .carrito_contenedor .finalizar {
  width: 20%;
  height: 45%;
}

.modo_oscuro .pagar {
  background-color: #FDC60F;
  color: #FFFFFF;
}

.modo_oscuro .pagar label {
  color: #FFFFFF;
}

.modo_oscuro .pagar .btn {
  background-color: #1D1D1B;
}

.modo_oscuro .container .carrito .search .search_box .boton_buscar {
  background-color: #FFFFFF;
}

.modo_oscuro .container .carrito .search .search_box .boton_buscar .fa {
  color: #FDC60F;
}

.container {
  position: relative;
}

.container .carrito {
  position: relative;
  margin-bottom: 10rem;
  font-weight: bold;
}

.container .carrito .search {
  position: absolute;
  top: 50%;
  left: 30%;
}

.container .carrito .search .search_box {
  position: relative;
}

.container .carrito .search .search_box .search_term {
  width: 400px;
  border: 0;
  height: 60px;
  padding: 0px 35px;
  border-radius: 0.7rem;
  -webkit-box-shadow: 0 0 5px 1px #FDC60F;
          box-shadow: 0 0 5px 1px #FDC60F;
  outline: none;
  color: #FDC60F;
  font-size: 1rem;
  font-weight: bold;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  margin-top: 1.5rem;
}

.container .carrito .search .search_box .boton_buscar {
  position: absolute;
  top: 20%;
  left: 85%;
  background: #1D1D1B;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.container .carrito .search .search_box .boton_buscar .fa {
  position: absolute;
  top: 30%;
  left: 25%;
  -webkit-transform: translate(-60% -40%);
          transform: translate(-60% -40%);
  color: #FDC60F;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.container .producto_en_carrito {
  background-color: #1D1D1B;
  color: #FFFFFF;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1rem;
}

.container .cards_productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .cards_productos .card {
  margin: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  max-height: 300px;
  min-height: 100px;
  -webkit-box-shadow: 0 0 5px 1px #FDC60F;
          box-shadow: 0 0 5px 1px #FDC60F;
}

.container .cards_productos .card .boton_agregar {
  background-color: #1D1D1B;
  color: #FFFFFF;
}

.container .cards_productos .card .boton_agregar:hover {
  color: #FFFFFF;
  background-color: #FDC60F;
}

.container .cards_productos .card img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .modal_body {
  border-radius: 1.5rem;
}

.container .modal_footer {
  display: none;
}

.parrafo_bienvenida {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
}

.carrito_contenedor .finalizar {
  width: 20%;
  height: 45%;
}

.pagar {
  background-color: #1D1D1B;
  max-width: 360px;
  margin: 4rem auto;
  color: #FFFFFF;
  height: auto;
  padding: 1.5rem;
  padding-top: 3rem;
  border-radius: 0.5rem;
  position: relative;
}

.pagar h2 {
  text-align: center;
  letter-spacing: 0.4rem;
  margin-bottom: 1rem;
}

.pagar label {
  display: block;
  color: #FDC60F;
  margin-bottom: 0.2rem;
  background-color: #1D1D1B;
  letter-spacing: 1px;
  outline: none;
  border: #1D1D1B;
}

.pagar input {
  padding: 0.4rem 0 0.4rem 0.6rem;
  width: 100%;
  text-align: center;
  border: 0.2rem solid #FFFFFF;
  border-radius: 0.5rem;
  letter-spacing: 2px;
  word-wrap: 1px;
  outline: none;
  font-size: 1rem;
  color: #1D1D1B;
}

.pagar .card-grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagar .card-grp .card-item {
  width: 48%;
}

.pagar .btn {
  color: #FFFFFF;
  background-color: #FDC60F;
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.pagar .pagar_logo {
  position: absolute;
  top: -2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba 0, 0, 0, 0.2;
          box-shadow: 0 0 5px rgba 0, 0, 0, 0.2;
  text-align: center;
  line-height: 100px;
}

.pagar .pagar_logo img {
  width: 90%;
  height: 80%;
  border-radius: 50%;
}

.space {
  margin-bottom: 1.3rem;
}

.icon_relative {
  position: relative;
}

.icon_relative .far {
  position: absolute;
  color: #1D1D1B;
  bottom: 14%;
  left: 3%;
}

.icon_relative .fas {
  position: absolute;
  color: #1D1D1B;
  bottom: 14%;
  left: 3%;
}

.tarjeta_pago {
  position: relative;
}

.tarjeta_pago .pagar {
  position: absolute;
  top: 95%;
  right: 35%;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header .navbar {
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 0;
}

.header .navbar .navbar_container {
  background-color: #FFFFFF;
  color: #1D1D1B;
}

.header .navbar .navbar_container .navbar-brand {
  margin-right: -1rem;
  width: 30%;
}

.header .navbar .navbar_container .navbar-brand img {
  max-width: 50%;
  height: 20%;
}

.header .navbar .navbar_container .nav_items {
  font-size: 2rem;
  margin: 0.5rem 0.5rem 0.5rem 2rem;
  border-bottom: solid 0.3rem #FDC60F;
  cursor: pointer;
}

.header .navbar .navbar_container .nav_items .boton_carrito_nav {
  text-decoration: none;
  border: none;
  background-color: #FFFFFF;
}

.header .navbar .navbar_container .nav_items .boton_carrito_nav .badge_carrito {
  height: 30px;
  width: 40%;
  background-color: #FDC60F;
  color: #FFFFFF;
  font-size: 1rem;
}

footer {
  color: #FFFFFF;
  background: #1D1D1B;
}

footer .container_footer {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px dashed #FFFFFF;
}

footer .container_footer .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

footer .container_footer .flex-row li {
  padding: 0 0.4rem;
  margin-bottom: 0.2rem;
  list-style: none;
}

footer .container_footer .flex-row li a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
}

footer .container_footer p {
  text-align: center;
}

footer .container_footer p span {
  background: #FDC60F;
}

footer .container_footer .flex-row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

footer .container_footer .flex-row2 li {
  padding: 0 0.4rem;
  margin-bottom: 0.2rem;
  list-style: none;
}

footer .container_footer .flex-row2 li .fab {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.5rem 0.5rem;
}

.modo_oscuro .container_footer {
  background: #FFFFFF;
  border-top: dashed 3px #1D1D1B;
}

.modo_oscuro .container_footer .flex-row li a {
  color: #1D1D1B;
}

.modo_oscuro .container_footer p {
  color: #1D1D1B;
}

body {
  background-color: #FFFFFF;
}

body .header_nosotros {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 5rem 2rem 2rem 10rem;
  border-bottom: solid #1D1D1B;
  width: 60%;
}

body .nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 2rem 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nosotros p {
  font-size: 1.5rem;
  margin-left: 4rem;
  border: none;
}

body .nosotros img {
  max-height: 500px;
  max-width: 700px;
  border-radius: 1rem;
  -webkit-box-shadow: 4px 4px 2px #feeca4;
          box-shadow: 4px 4px 2px #feeca4;
}

body .nosotros_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 4rem 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nosotros_2 p {
  font-size: 1.5rem;
  margin-left: 4rem;
  border: none;
}

body .nosotros_2 p span {
  background: #FDC60F;
  color: #FFFFFF;
}

body .nosotros_2 img {
  max-height: 500px;
  max-width: 700px;
  border-radius: 1rem;
  -webkit-box-shadow: 4px 4px 2px #feeca4;
          box-shadow: 4px 4px 2px #feeca4;
}

body .eventus {
  position: relative;
  margin-bottom: 200px;
}

body .eventus .contactenos {
  border: 0;
  position: absolute;
  bottom: 15%;
  right: 15%;
  padding: 1rem;
  width: 20%;
  background-color: #1D1D1B;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 2px #feeca4;
          box-shadow: 4px 4px 2px #feeca4;
}

body .wrapper_contacto {
  margin: 2rem 0 2rem 500px;
  max-width: 550px;
  width: 100%;
  background-color: #FDC60F;
  padding: 0.5rem;
  border-radius: 1.5rem;
  color: #FFFFFF;
  -webkit-box-shadow: 4px 4px 2px #feeca4;
          box-shadow: 4px 4px 2px #feeca4;
  display: none;
  z-index: 3;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .wrapper_contacto .header_contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  margin-top: 10px;
}

body .wrapper_contacto .header_contacto button {
  background: none;
  border: none;
}

body .wrapper_contacto .header_contacto button .fas {
  font-size: 2.5rem;
  position: absolute;
  right: 6%;
  top: 0%;
}

body .wrapper_contacto h2 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #FFFFFF;
}

body .wrapper_contacto .input_field {
  margin-bottom: 10px;
}

body .wrapper_contacto .input_field input, body .wrapper_contacto .input_field textarea {
  width: 100%;
  border: 1px solid #1D1D1B;
  padding: 1rem;
}

body .wrapper_contacto .input_field textarea {
  height: 180px;
  resize: none;
}

body .wrapper_contacto .submit input {
  border: 0;
  margin-top: 10px;
  padding: 1rem;
  width: 100%;
  background-color: #1D1D1B;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
}

body .wrapper_contacto .submit input:hover {
  color: #1D1D1B;
  background-color: #FFFFFF;
}

body .wrapper_contacto .error {
  margin-bottom: 20px;
  padding: 0;
  background-color: #1D1D1B;
  text-align: center;
  font-size: 23px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modo_oscuro {
  background: #1D1D1B;
}

.modo_oscuro .eventus .contactenos {
  background: #FDC60F;
}

.modo_oscuro h2 {
  color: #FDC60F;
  border-bottom: solid 1px #FFFFFF;
}

.modo_oscuro p {
  color: #FFFFFF;
}

.body_review {
  height: 100%;
  place-items: center;
  text-align: center;
  background: #FFFFFF;
}

.body_review .container1 h1 {
  width: 100%;
  font-size: 2rem;
  color: #1D1D1B;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  text-align: center;
  margin: 3rem 0 3rem 0;
}

.body_review .container1 h1 span {
  background: #1D1D1B;
  color: #FDC60F;
  letter-spacing: 0.5rem;
}

.body_review .container1 .comentarios {
  position: relative;
}

.body_review .container1 .comentarios .texto_comentarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 7rem 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.body_review .container1 .comentarios .texto_comentarios p {
  font-size: 1.5rem;
  margin-left: 4rem;
  border: none;
  padding: 1.5rem;
}

.body_review .container1 .comentarios .foto_comentarios {
  margin: 2rem 2rem;
  position: absolute;
  top: 0;
  right: 10%;
}

.body_review .container1 .comentarios .foto_comentarios img {
  max-height: 300px;
  max-width: 400px;
  border-radius: 1rem;
  -webkit-box-shadow: 4px 4px 2px #feeca4;
          box-shadow: 4px 4px 2px #feeca4;
}

.body_review .container1 .comentarios .flecha {
  margin-top: 300px;
}

.body_review .container1 .comentarios .flecha .fas {
  position: absolute;
  top: 35%;
  left: 47%;
  font-size: 7rem;
}

.body_review .container1 .comentarios .cajas_comentarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.body_review .container1 .comentarios .cajas_comentarios .cajas {
  background: #1D1D1B;
  color: #FFFFFF;
  margin: 2rem 2rem;
  max-width: 400px;
  border: 2px solid #FFFFFF;
  border-radius: 1.5rem;
  -webkit-box-shadow: 4px 4px 2px #feeca4;
          box-shadow: 4px 4px 2px #feeca4;
}

.body_review .container1 .comentarios .cajas_comentarios .cajas .fas {
  color: #FDC60F;
  text-shadow: 0 0 20px #952;
  letter-spacing: 1rem;
  margin: 2rem 0 2rem 0;
  font-size: 1.7rem;
}

.body_review .container1 .comentarios .cajas_comentarios .cajas .cajas_texto {
  margin: 0rem 0 2rem 0;
  padding: 1.5rem;
}

.body_review .container1 .comentarios .cajas_comentarios .cajas .cajas_texto h3 {
  font-size: 1.2rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.body_review .container1 .comentarios .cajas_comentarios .cajas .cajas_texto h4 {
  font-size: 1rem;
  color: #FDC60F;
  margin-top: 2rem;
}

.body_review .container1 .comentarios .cajas_comentarios .cajas .cajas_mensaje {
  padding: 1rem;
  margin: -1rem 1.5rem 1rem 1.5rem;
}

.body_review .container1 .resena h2 {
  width: 100%;
  font-size: 2rem;
  color: #1D1D1B;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  text-align: center;
  margin: 3rem 0 3rem 0;
}

.body_review .container1 .resena h2 span {
  background: #1D1D1B;
  color: #FDC60F;
  letter-spacing: 0.5rem;
}

.body_review .container1 .resena .resena_boton {
  border: 0;
  padding: 1rem;
  width: 20%;
  background-color: #1D1D1B;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 2px #feeca4;
          box-shadow: 4px 4px 2px #feeca4;
  margin: 2rem 0;
}

.body_review .container2 {
  display: none;
  margin: 2rem 0 2rem 580px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.body_review .container2 .container_comentarios {
  width: 500px;
  background: #1D1D1B;
  padding: 1rem 1.5rem;
  border: 1px solid #FFFFFF;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.body_review .container2 .container_comentarios .posteo {
  display: none;
}

.body_review .container2 .container_comentarios .posteo .posteo_texto {
  font-size: 1.2rem;
  color: #FFFFFF;
  font-weight: 250;
  letter-spacing: 1px;
}

.body_review .container2 .container_comentarios .posteo .posteo_editar {
  position: absolute;
  right: 10px;
  top: 9%;
  font-size: 0.8rem;
  color: #FDC60F;
  font-weight: 500;
  text-transform: uppercase;
}

.body_review .container2 .container_comentarios .posteo .posteo_editar:hover {
  text-decoration: underline;
}

.body_review .container2 .container_comentarios .estrellita input {
  display: none;
}

.body_review .container2 .container_comentarios .estrellita input:checked ~ label {
  color: #FDC60F;
}

.body_review .container2 .container_comentarios .estrellita input:checked ~ form {
  display: block;
}

.body_review .container2 .container_comentarios .estrellita label {
  font-size: 2rem;
  color: #FFFFFF;
  padding: 0.75rem;
  float: right;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.body_review .container2 .container_comentarios .estrellita label:hover ~ label {
  color: #FDC60F;
}

.body_review .container2 .container_comentarios .estrellita #cerrar {
  font-size: 1.6rem;
  color: #FFFFFF;
  position: absolute;
  top: 8%;
  left: 4%;
  cursor: pointer;
}

.body_review .container2 .container_comentarios .estrellita #cerrar:hover {
  color: #fe8b8e;
}

.body_review .container2 .container_comentarios .estrellita input#rate-5:checked ~ label {
  text-shadow: 0 0 20px #952;
}

.body_review .container2 .container_comentarios .estrellita #rate-1:checked ~ form h1:before {
  content: "Lo odie";
}

.body_review .container2 .container_comentarios .estrellita #rate-2:checked ~ form h1:before {
  content: "No me gusta";
}

.body_review .container2 .container_comentarios .estrellita #rate-3:checked ~ form h1:before {
  content: "Me gusta";
}

.body_review .container2 .container_comentarios .estrellita #rate-4:checked ~ form h1:before {
  content: "Me gusta mucho";
}

.body_review .container2 .container_comentarios .estrellita #rate-5:checked ~ form h1:before {
  content: "Me encanta";
}

.body_review .container2 .container_comentarios .estrellita form {
  display: none;
}

.body_review .container2 .container_comentarios .estrellita form h1 {
  width: 100%;
  font-size: 1.5rem;
  color: #FDC60F;
  font-weight: 450;
  margin: 0.2rem 0 0.8rem 0;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.body_review .container2 .container_comentarios .estrellita form .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.body_review .container2 .container_comentarios .estrellita form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid #FFFFFF;
  background: #1D1D1B;
  color: #FFFFFF;
  padding: 0.5rem;
  font-size: 1rem;
  resize: none;
}

.body_review .container2 .container_comentarios .estrellita form .boton_comentarios {
  height: 2rem;
  width: 100%;
  margin: 0.5rem 0;
}

.body_review .container2 .container_comentarios .estrellita form .boton_comentarios button {
  height: 100%;
  width: 100%;
  border: 1px solid #1D1D1B;
  outline: none;
  background: #FFFFFF;
  color: #FDC60F;
  font-weight: 450;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.modo_oscuro {
  background: #1D1D1B;
}

.modo_oscuro .container1 h1 {
  color: #FFFFFF;
}

.modo_oscuro .container1 .flecha {
  color: #FFFFFF;
}

.modo_oscuro .container1 .resena h2 {
  color: #FFFFFF;
}

.modo_oscuro .container1 .resena .resena_boton {
  background: #FFFFFF;
  color: #1D1D1B;
}

.container_index h1 {
  width: 100%;
  font-size: 2rem;
  color: #1D1D1B;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  text-align: center;
  margin: 3rem 0 3rem 0;
}

.container_index h1 span {
  background: #1D1D1B;
  color: #FDC60F;
  letter-spacing: 0.5rem;
}

.container_index .index {
  position: relative;
}

.container_index .index .texto_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 7rem 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.container_index .index .texto_index p {
  font-size: 2rem;
  margin: 1rem 4rem;
  border: none;
  padding: 1.5rem;
}

.container_index .index .texto_index img {
  max-height: 500px;
  max-width: 800px;
  border-radius: 1rem;
  -webkit-box-shadow: 4px 4px 2px #feeca4;
          box-shadow: 4px 4px 2px #feeca4;
}

.container_index .index .texto_index2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 7rem 6rem 7rem 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.container_index .index .texto_index2 p {
  font-size: 2rem;
  margin: 1rem 4rem;
  border: none;
  padding: 1.5rem;
  cursor: pointer;
}

.container_index .index .texto_index2 p:hover {
  background: #1D1D1B;
}

.container_index .index .texto_index2 p:hover a {
  color: #FFFFFF;
}

.container_index .index .texto_index2 p a {
  text-decoration: none;
  color: #1D1D1B;
}

.container_index .index .texto_index2 img {
  max-height: 400px;
  max-width: 400px;
  border-radius: 1rem;
  -webkit-box-shadow: 4px 4px 2px #feeca4;
          box-shadow: 4px 4px 2px #feeca4;
}

.modo_oscuro .container_index h1 {
  color: #FFFFFF;
}

.modo_oscuro .container_index .index .texto_index2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 7rem 6rem 7rem 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.modo_oscuro .container_index .index .texto_index2 p {
  font-size: 2rem;
  margin: 1rem 4rem;
  border: none;
  padding: 1.5rem;
  cursor: pointer;
}

.modo_oscuro .container_index .index .texto_index2 p:hover {
  background: #FDC60F;
}

.modo_oscuro .container_index .index .texto_index2 p a {
  text-decoration: none;
  color: #FFFFFF;
}

.modo_oscuro .container_index .index .texto_index2 p a:hover {
  color: #FFFFFF;
}

.modo_oscuro .container_index .index .texto_index2 img {
  max-height: 400px;
  max-width: 400px;
  border-radius: 1rem;
  -webkit-box-shadow: 4px 4px 2px #feeca4;
          box-shadow: 4px 4px 2px #feeca4;
}
/*# sourceMappingURL=estilos.css.map */