* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.enunciado {
  position: relative;
}

.enunciado img {
  width: 100%;
  height: 100%;
  margin: 2rem 0rem 2rem 0rem;
}

.enunciado h1 {
  font-size: 2.5rem;
  position: absolute;
  top: 10%;
  margin: 0px 20px auto;
  color: #FFFFFF;
}

.enunciado span {
  font-size: 2.5rem;
  background-color: #FDC60F;
  color: #1D1D1B;
}

.enunciado span a {
  text-decoration: none;
  color: #FFFFFF;
}

.preguntas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preguntas .preguntas_contenido {
  position: relative;
}

.preguntas .preguntas_contenido span {
  font-size: 2.5rem;
  background-color: #FDC60F;
  color: #1D1D1B;
  position: absolute;
  bottom: 15%;
  left: 7%;
}

.preguntas .preguntas_contenido img {
  width: 100%;
  height: 60%;
  margin-top: 1rem;
  margin-left: 1rem;
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 3rem 0rem 3rem 0rem;
}

.nosotros h1 {
  margin: 2rem 1rem 1rem 1rem;
  font-size: 2.5rem;
}

.nosotros h1 span {
  margin: 0.4rem;
}

.nosotros p {
  margin: 1rem 1rem;
  font-size: 1.5rem;
  border-bottom: solid #FDC60F;
}

.nosotros button {
  width: 7.2rem;
  height: 5.4rem;
  background-color: #1D1D1B;
  color: #FDC60F;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 85, 152, 0.3);
  box-shadow: 0px 0px 12px 1px rgba(0, 85, 152, 0.3);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: auto;
  margin: 1rem 1rem;
}

.nosotros button a {
  text-decoration: none;
  color: #FFFFFF;
}

.modo_oscuro {
  background-color: #1D1D1B;
  color: #1D1D1B;
}

.modo_oscuro .producto_en_carrito {
  background-color: #FFFFFF;
  color: #1D1D1B;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1rem;
}

.modo_oscuro .precio_carrito {
  background-color: #FFFFFF;
  color: #1D1D1B;
}

.modo_oscuro .parrafo_bienvenida {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
  color: #FFFFFF;
}

.container {
  position: relative;
}

.container .producto_en_carrito {
  background-color: #1D1D1B;
  color: #FFFFFF;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1rem;
}

.container .cards_productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .cards_productos .card {
  margin: 1rem;
  padding: 1rem;
}

.parrafo_bienvenida {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
}

.navbar {
  text-decoration: none;
  color: #FFFFFF;
}

.navbar .navbar_container {
  background-color: #FFFFFF;
  color: #1D1D1B;
}

.navbar .navbar_container img {
  max-width: 100%;
}

.navbar .navbar_container .nav_items {
  font-size: 2rem;
  margin: 1rem 1rem 1rem 2rem;
  border-bottom: solid 0.3rem #FDC60F;
}

.footer {
  background-color: #1D1D1B;
}

.footer .footer_logo img {
  width: 23%;
  margin: 1rem 1rem;
}

.footer .footer_logo a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 2.5rem;
  margin: 1rem;
}

.footer .footer_logo_abajo {
  text-align: center;
}

.footer .footer_logo_abajo a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 2.5rem;
  margin: 1rem;
}

.footer .footer_redes {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer_redes .footer_redes_svc {
  width: 8%;
  height: 8%;
}

.footer .footer_info {
  margin-top: 1rem;
  text-align: center;
}

.footer .footer_info h2 {
  color: #FFFFFF;
  font-size: 1.5rem;
}

.footer .footer_info span {
  color: #FDC60F;
  font-size: 1.5rem;
  font-weight: bold;
}

.carrito .boton_carrito {
  width: 30%;
  height: 45%;
  margin: 3rem 1rem 1rem 1rem;
}

.carrito .precio_carrito {
  font-size: 1.6rem;
  margin: 3rem 1rem 3rem 1rem;
}

.combo {
  margin: 5rem 3rem;
}

.modal_carrito {
  display: none;
}

.modal_carrito .precio_carrito {
  font-size: 1.6rem;
  margin: 3rem 1rem 3rem 1rem;
  border: solid 2px #FDC60F;
  border-radius: 2rem;
  width: 10rem;
  padding: 0.5rem;
}

.modal_carrito .boton_carrito_dark {
  width: 30%;
  height: 45%;
  margin: 1rem 1rem 1rem 1rem;
}

.modal_carrito .carrito_contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal_carrito .carrito_contenedor .combo_en_carrito {
  margin: 1rem 1rem 1rem 1rem;
  border: solid 2px #1D1D1B;
  border-radius: 2rem;
  width: 10rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}
/*# sourceMappingURL=estilos.css.map */